
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.content {
    max-width: 600px;
    text-align: center;
    padding: 20px;
}


.title h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0.5em 0;
    margin-bottom: 1%;
}

.title h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 0%;
}

.underline {
    height: 1px;
    border: none;
    background-color: #BFBFBF;
    width: 100%;
    margin: 0 auto 16px 0;
    text-align: center;
    margin-bottom: 10%;

}

/* Subtitle color */
.title h3 {
    color: #006EB6;
}

/* Paragraphs are left-aligned even though block is centered */
main p,
main ol {
    text-align: left;
}

/* Resize logo */
.logo {
    width: 150px;
    height: auto;
    display: block;
    margin: 20px auto;
}

body {
    border: 2px solid #BFBFBF;
    margin: 20px;
    padding: 16px;
  }

  li {
    margin-bottom: 10px; /* space between list items */
  }